@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'highlight.js/styles/monokai.css'; 


html, body {
  height: 100%;
  font-family: 'Inter', Helvetica, sans-serif;
}

body {
  background-color: #fffefe; 
  background-image: url('/images/dot-pattern.svg');
  background-repeat: repeat;
  background-size: 20px 20px;
  background-position: top left;
  background-attachment: fixed;
}

